# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/


# Flutter/Dart/Pub
.packages
.pub-cache/
.pub/
coverage/

# Generated plugin registrant
.generated_plugin_registrant.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
android/.idea/
android/captures/

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xccheckout
*.xcsettings

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Podfile.lock
macos/.symlinks/

# VS Code / Android Studio
.vscode/

# Misc
*.lock

